<!DOCTYPE html>
<html lang="tr">

    <script src="add_route_script.js"></script>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bikers Hub - ADD ROUTE</title>
        <link rel="stylesheet" href="add_route_style.css">
    </head>

    <body onload="hideImage('default_background')">>

            <img src="hand & lamp off2.png" alt="home default background" id="default_background">
        
            <img src="hand & lamp on.png" alt="lamp on"  id = "lamp_on">

            <div id="splitterDiv">
                   
                <img src="WebUI/add route background.png" alt="route adding banner" id="route_banner">            
                
                <input type="text" placeholder="Şehir . . " id="input_sehir"        class="inputs">
                <input type="datetime-local"                id="input_saat_tarih"   class="inputs" >
                <input type="text" placeholder="Adres . . " id="input_adres"        class="inputs">

                <a href="/home">
                    <img src="WebUI/add route button.png" alt="create button" id="create_route_button">
                </a>
            
            </div>


    </body>

</html> 